<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>眼鏡</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">   
   
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
        </style>
</head>
<body>
    <div class="header">
        <div class="logo"><img src="../assets/images/logo-white.png" width="80px" height="49px" alt="眼鏡"></div>           
        <div class="head_m">
           <ul class="menu">
              <li class="menu_i"><a href="#" class="i_menu">系列鏡框</a></li>
              <li class="menu_i"><a href="#" class="i_menu">門市據點</a></li>
              <li class="menu_i"><a href="#" class="i_menu">部落格</a></li>
              <li class="menu_i"><a href="#" class="i_menu">常見問題</a></li>
            </ul>
        </div>
    </div>